/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
:root {
    --corprimaria : #F2F2F2;
    --corsecundaria: #B92616;
    --cordestaque:#367A1C;
    --corfont: #2D2D31;
}
body, html {
    background-color: var(--corprimaria);
    color: var(--corfont);
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/-1;
    height: 100vh;
    width: 100%;
}
/* LOGO */
img {
    border-radius: 50%;
    width: 120px;
    margin: 25px;
}
/* FORM */
.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 15px var(--corfont);
    grid-column: 8/-1;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.ma{
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25px;
}
.oi {
    width: 400px;
    padding: 15px;
    margin: 50px;
    height: auto;
}
.form {
    height: 80%;
    width: 700px;
    border-radius: 5%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #2d2d31ea;
    font-size: 40px;
    margin: 20px;
    font-weight: 500;
}
p{
    font-size: 20px;
    margin: 15px;
    color: #2d2d31d1;
    font-weight: 350;
}
input {
    width: 90%;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #2d2d316a;
    box-sizing: border-box;
    padding: 2px 7px;
    font-size: 16px;
    margin: 5px;
}
/* input:focus {
    border: 3px solid #01FD94;
    outline: none;
} */
 label {
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    margin-left: 15px;
 }
 /* BOTÃO */
button {
    background-color: var(--cordestaque);
    border-radius: 5px;
    border: 1px solid var(--corfont);
    width: 150px;
    margin: 20px;
    margin-bottom: 35px;
    height: 35px;
    font-size: 25px;
    color: #2d2d31b1;
}
button:hover {
    background-color: #2d5e18;
    color: var(--corfont);
}
/* FOOTER */
