/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
:root {
    --corprimaria : #F2F2F2;
    --corsecundaria: #B92616;
    --cordestaque:#367A1C;
    --corfont: #2D2D31;
}
body, html {
    background-color: var(--corprimaria);
    font-family: 'Roboto';
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/-1; */
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--corprimaria);
}
.header-content {
    display: flex;
    justify-content: space-between;
    width:  100%;
    max-width:  1200px;
    align-items: center;
}
.logo img {
    height: 60px;
}
.actions {
    display: flex;
    align-items: center;
}
.lupa button,
.login button {
    background-color: transparent;
    border: none;
    color: var(--corprimaria);
    font-size:  30px;
    margin-left: 15px;
    cursor: pointer;
}
.lupa button {
    font-size: 25px;
}
.login button {
    background-color: var(--cordestaque) ;
    color: white; 
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
}

/*SECTION*/
.logo-section {
    background-color: var(--corsecundaria);
    position: relative;
    padding: 100px 30px 40px 50px;
    text-align: center;
    overflow: hidden;
}
.logo-container img {
    max-width: 800px;
    margin-bottom: 140px;
}
.onda img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}

/* MAIN */



/* FOOTER */