/* ESTILOS GERAIS */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --corprimaria : #F2F2F2;
   --corsecundaria: #B92616;
   --cordestaque:#367A1C;
   --corfont: #2D2D31;
}
body, html {
   background-color: var(--corprimaria);
   color: var(--corfont);
   font-family: 'Roboto', sans-serif;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-column: 1/-1;
}

/* HEADER */
header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
   background-color: var(--corsecundaria);
   grid-column: 1 / -1;
   height: 110px;
   position: relative;
}
.logo {
   max-width: 130px;
}
header .logo {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}
.home-icon {
   font-size: 40px;
   color: var(--corprimaria);
   position: absolute;
   left: 22px;
   top: 50%;
   transform: translateY(-50%);
   text-decoration: none;
   cursor: pointer;
}
.home-icon:hover {
   font-size: 42px;
}

/* CONTAINER DO TITULO */
.containerTitulo {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
   grid-column: 2/ 12;
   height: 100px;
   position: relative;
}
.titulo {
   text-align: left;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex: 1;
   font-size: 24px;
   color: var(--corsecundaria)
}
.textProgresso {
   font-size: 20px;
}
.linhaProgresso {
   display: flex;
   align-items: center;
   gap: 25px;
}
.progress-bar-bolinhas {
   list-style: none;
   display: flex;
   gap: 30px;
   padding: 0;
   margin: 0;
}
.bolinha {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: var(--corprimaria);
   border: 2px solid var(--corsecundaria);
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--corsecundaria);
   font-weight: bold;
}
.bolinha.completo {
   background-color: var(--cordestaque);
   border: 2px solid var(--cordestaque);
   color: var(--corprimaria);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* FORMULÁRIO DE PAGAMENTO */
.containerPagamento {
   padding: 20px;
   grid-column: 2 / 12;
   background-color: white;
   border-radius: 8px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.input-group {
   margin-bottom: 20px;
}
.input-label {
   font-size: 16px;
   color: var(--corsecundaria);
   display: block;
   margin-bottom: 5px;
}
input[type="text"],
input[type="month"] {
   width: 100%;
   padding: 12px;
   border: 1px solid #ddd;
   border-radius: 4px;
   font-size: 16px;
}
input[type="text"]:focus,
input[type="month"]:focus {
   border-color: var(--corsecundaria);
   outline: none;
}

/* BOTOES DE FINALIZAR */
.botao-container {
   display: grid;
   padding: 15px;
   grid-column: 2 / 12;
   height: 80px;
   position: relative;
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 20px;
}
.continuar-btn, .finalizar-btn {
   padding: 8px 12px;
   font-size: 20px;
   cursor: pointer;
   border-radius: 5px;
   border: none;
   box-sizing: border-box;
   width: 100%; /* Faz os botões ocuparem 100% da largura do contêiner */
}
.continuar-btn {
   color: var(--corsecundaria);
   grid-column: 1;
}
.continuar-btn:hover {
   color: var(--cordestaque);
}
.finalizar-btn {
   background-color: var(--cordestaque);
   color: var(--corprimaria);
   grid-column: 3;
   text-align: center;
   text-decoration: none;
}
.finalizar-btn:hover {
   opacity: 0.6;
}

/* FOOTER */
footer {
   background-color: var(--corsecundaria);
   grid-column: 1/-1;
   color: var(--corprimaria);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 20px;
}
footer img {
   width: 120px;
   height: auto;
}
footer ul {
   display: flex;
   gap: 20px;
   list-style: none;
   padding: 15px 0;
   justify-content: center;
}

/* MEDIA QUERY PARA TELAS PEQUENAS (ATÉ 390PX) */
@media (max-width: 390px) {
   header {
       padding: 10px;
       height: 80px;
   }
   .logo {
       max-width: 100px;
   }
   .home-icon {
       font-size: 30px;
   }
   
   /* CONTAINER DO TITULO*/
   .containerTitulo {
      flex-direction: column;
      height: auto;
      padding: 15px;
   }
   .titulo {
      font-size: 15px; 
      text-align: center;
      margin-bottom: 10px; 
   }
   .linhaProgresso {
      gap: 10px; 
      justify-content: center; 
      flex-wrap: wrap;
      margin-top: 0;
   }
   .progress-bar-bolinhas {
      gap: 15px; 
      left:30px;
   }
   .bolinha {
      width: 10px; 
      height: 10px; 
      font-size: 5px; 
      color: transparent;
      background-color: transparent; 
      margin-bottom: 5px; 
   }
   .bolinha.completo {
      background-color: #367A1C;
      color: transparent;
      font-size: 10;
   }
   .textProgresso {
      font-size: 20px;
   }

   
   .containerPagamento {
       padding: 15px;
   }
   .input-group {
       margin-bottom: 15px;
   }
   .input-label {
       font-size: 14px;
   }
   input[type="text"], input[type="month"] {
       padding: 10px;
       font-size: 14px;
   }
   
   .botao-container {
       padding: 10px;
       margin-bottom: 15px;
   }
   .continuar-btn, .finalizar-btn {
       font-size: 16px;
       padding: 12px;
   }
   
   footer {
       padding: 15px;
   }
   footer img {
       width: 100px;
   }
   footer ul {
       flex-direction: column;
       gap: 10px;
   }
}
@media screen and (max-width: 1000px) {
   /* CONTAINER DO TITULO*/
   .containerTitulo {
      flex-direction: column;
      height: auto;
      padding: 20px;
   }
   .titulo {
      font-size: 30px; 
      text-align: center;
      margin-bottom: 20px;
   }
   .linhaProgresso {
      gap: 10px; 
      justify-content: center; 
      flex-wrap: wrap;
      margin-top: 0;
   }
   .progress-bar-bolinhas {
      gap: 15px; 
      left:30px;
   }
   .bolinha {
      width: 15px; 
      height: 15px; 
      font-size: 5px; 
      color: transparent; 
      background-color: transparent; 
      margin-bottom: 5px; 
   }
   .bolinha.completo {
      background-color: #367A1C;
      color: transparent;
      font-size: 10;
   }
   .textProgresso {
      font-size: 20px;
   }
}
