/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    border: 2px solid red
 }
 :root {
    --corprimaria : #F2F2F2;
    --corsecundaria: #B92616;
    --cordestaque:#367A1C;
    --corfont: #2D2D31;
 }
 body, html {
    background-color: var(--corprimaria);
    color: var(--corfont);
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/-1;
    
 }
 /* HEADER */
 header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--corsecundaria);
    grid-column: 1 / -1;
    height: 110px;
    position: relative;
 }
 .logo {
    max-width: 150px;
 }
 header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
 }
 .home-icon {
    font-size: 40px;
    color: var(--corprimaria);
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    cursor: pointer;
 }
 .home-icon:hover{
    font-size: 42px;
 }

 /* CONTAINER DO TITULO*/
 .containerTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    grid-column: 2/ 12;
    height: 100px;
    position: relative;
 }
 .titulo {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Alinha o título verticalmente com as bolinhas */
    flex: 1;
    font-size: 24px;
    color: var(--corsecundaria)
 }
 .textProgresso{
    font-size: 20px;
 }
 .linhaProgresso {
    display: flex;
    align-items: center;  /* Alinha as bolinhas verticalmente */
    gap: 25px;
    margin-left: 20px;  /* Espaço entre o título e as bolinhas */
 }
 .progress-bar-bolinhas {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
 }
 .bolinha {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid red; /* Borda vermelha por padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
 }
 .bolinha.completo {
    background-color: #367A1C; /* Cor de fundo verde quando completo */
    border: 2px solid #367A1C; /* Borda verde */
    color: white; /* Texto branco dentro da bolinha */
 }