/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
:root {
    --corprimaria : #F2F2F2;
    --corsecundaria: #B92616;
    --cordestaque:#6BA156;
    --corfont: #2D2D31;
}
body, html {
    background-color: var(--corprimaria);
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/-1;
    overflow-x: hidden;
}
/* HEADER */
header {
    background-color: var(--corsecundaria);
    grid-column: 1/-1;
    height: 120px;
    color: var(--corprimaria);
    display: flex;
    align-items: center;
}
header img {
    width: 110px;
    height: auto;
    margin-left: 30px;
}
header ul {
    width: 85%;
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content:flex-end;
}
header li {
    justify-content: flex-end;
    margin-left: 5px;
}
a {
    text-decoration: none;
    color: var(--corprimaria);
    display: flex;
}
a:hover {
    color: var(--cordestaque);
    transform: scale(1.2);
}
/* MAIN */
main {
    grid-column: 3/10;
    color: var(--corfont);
    margin: 10px 0;
}
/* NOVOS PRODUTOS */
form {
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 40px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #b926166a;
    box-shadow: 3px 3px 15px var(--corfont);
}
form h3 {
    color: var(--corfont);
    font-size: 30px;
    text-align: center;
}
input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #2d2d316a;
    box-sizing: border-box;
    padding: 2px 7px;
    font-size: 16px;
    background-color: var(--corprimaria);
}
input:focus {
    border: 3px solid #968684;
    outline: none;
}
label {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 2px;
    font-weight: 300;
}
/* CARDS */
.card img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}
.card {
    display: inline-block;
    background-color: var(--corsecundaria);
    color: var(--corprimaria);
    border: 1px solid var(--corfont);
    border-radius: 10px;
    padding: 15px;
    width: calc(35.50% - 35px);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;  /* Ajuste da margem inferior */
    box-sizing: border-box;
}
.cards {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; 
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px var(--corfont);
}
.card p {
    /* font-family: var(--titulos); */
    font-size: 20px;
    margin-top: 10px;
}
.card .botoes {
    margin: 0;
    justify-content: space-around;
}
.card button {
    width: 100px;
    height: 40px;
}
 /* BOTÃO */
.botoes {
    display: flex;
    justify-content: space-between;
    margin: 2px 20px;
}
button {
    background-color: #2d5e18;
    border-radius: 10px;
    border: 1px solid var(--corfont);
    width: 150px;
    margin-top: 30px;
    height: 45px;
    font-size: 25px;
    color: var(--corprimaria);
}
button:hover {
    background-color: var(--cordestaque);
    color: var(--corfont);
}
/* FOOTER */
footer {
    background-color: var(--corsecundaria);
    grid-column: 1/-1;
    color: var(--corprimaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
footer img {
    width: 120px;
    height: auto;
}
footer ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 15px 0;
    justify-content: center;
}
li :hover {
    color: var(--cordestaque);
    transform: scale(1.2);
}
/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    form {
        margin: 20px 0;
    }
    header ul {
        width: 60%;
    }
    header li {
        display: none;
    }
    .card {
        width: 100%;
    }
}