/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corprimaria: #F2F2F2;
    --corsecundaria: #B92616;
    --cordestaque: #367A1C;
    --corfont: #2D2D31;
}

body {
    background-color: var(--corsecundaria);
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 30px;
}
/* HEADER */
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--corprimaria);
    border-bottom: 2px solid var(--corsecundaria);
    padding: 0 20px;
    margin-bottom: 50px;
}

.logo img {
    height: 60px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a i{
    margin-right: 10px;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--corsecundaria);
    font-size: 14px;
    transition: 0.3s;
}

nav a:hover {
    color: var(--cordestaque);
}

nav i {
    font-size: 25px;
    margin-bottom: 5px;
}

nav a p{
    font-size: 20px;
}
.perfil a h1{
    font-size: 30px;
}

.perfil a {
    display: flex;
    align-items: center;
    font-size: 40px;
    gap: 10px;
    text-decoration: none;
    color: var(--corsecundaria);
}

.perfil h1 {
    font-size: 16px;
}
.container {
    width: 90%;
    max-width: 800px;
    background-color: var(--corprimaria);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.title {
    text-align: center;
    font-size: 24px;
    color: var(--corfont);
    margin-bottom: 20px;
}

.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header i {
    font-size: 60px;
    color: white;
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    margin-bottom: 15px;
}

.profile-info label {
    font-weight: bold;
    color: var(--corfont);
    display: block;
    margin-bottom: 5px;
}

.profile-info input, span {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 16px;
}

button {
    padding: 12px;
    border: none;
    background-color: var(--cordestaque);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #2a5e14;
    transform: scale(1.05);
}

.endereco{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.endereco i{
   color: var(--corsecundaria);
   transition: transform 0.3s;
}

.endereco i:hover{
    transform: scale(1.2);
}
