<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/compraConcluida.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/templates/img/Logo.png">
    <title>Compra Concluída</title>
</head>
<body>
    <header> 
        <a href="./home.html" class="fa-solid fa-house home-icon"></a>
        <img src="/static/img/logoBranca.png" alt="Logo" class="logo">
    </header>

    <div class="containerCompraConcluida">
        <div class="mensagem-concluida">
            <h1>Compra Concluída com Sucesso!</h1>
            <p>Obrigado pela sua compra! Em breve, você receberá um e-mail com os detalhes do pedido.</p>
        </div>

        <div class="detalhes-compra">
            <h2>Resumo da Compra</h2>
            <p><strong>Pedido:</strong> #123456789</p>
            <p><strong>Data da Compra:</strong> 10/03/2025</p>
            <p><strong>Total:</strong> R$ 6,50</p>
            <p><strong>Forma de Pagamento:</strong> Cartão de Crédito</p>
            <p><strong>Endereço de Envio:</strong> Prédio Principal, 2°andar - sala 212</p>
        </div>

        <div class="acoes">
            <a href="./home.html" class="btn-continuar">Voltar à Página Inicial</a>
        </div>
    </div>

    <footer>
        <img src="../static/img/logoBranca.png" alt="">
        <h3>Compartilhe algo delicioso</h3>
        <ul>
            <li><i class="fa-brands fa-instagram fa-2x"></i></li>
            <li><i class="fa-brands fa-twitter fa-2x"></i></li>
            <li><i class="fa-brands fa-facebook fa-2x"></i></li>
        </ul>
        <p>Imagens meramente ilustrativas. Consulte os restaurantes participantes.  & © 2025 IFBite Equipe. Todos os direitos reservados. </p>
    </footer>
</body>
</html>
