<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dadosEntrega.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="icon"  href="/templates/img/Logo.png">

    <title>Confirmação de Dados</title>
</head>
<body>
    <header> 
        <a href="./home.html" class="fa-solid fa-house home-icon"></a>
        <img src="../static/img/logoBranca.png" alt="Logo" class="logo">
    </header>

    <div class="containerTitulo">
        <div class="titulo">
           <h1>CONFIRMAR DADOS </h1>
        </div>
     
        <div class="linhaProgresso">
           <ul class="progress-bar-bolinhas">
              <li class="bolinha textProgresso">1</li>
              <li class="bolinha completo textProgresso">2</li>
              <li class="bolinha textProgresso">3</li>
              <li class="bolinha textProgresso">4</li>
           </ul>
        </div>
    </div>
    <div class="confirmacaoPedido">
            <form id="formConfirmacao">
                <label for="nome">NOME:</label>
                <input type="text" id="nome" name="nome" value="Vitória Freire" required>
        
                <label for="email">E-MAIL:</label>
                <input type="email" id="email" name="email" value="vivi.freire10@gmail.com" required>
        
                <label for="telefone">TELEFONE:</label>
                <input type="tel" id="telefone" name="telefone" value="(84) 99206-2687" required>
        
                <label for="predio">PRÉDIO:</label>
                <input type="text" id="predio" name="predio" value="Principal" required>

                <label for="andar">ANDAR:</label>
                <input type="text" id="andar" name="andar" value="2º andar" required>

                <label for="andar">SALA:</label>
                <input type="text" id="sala" name="sala" value="212" required>

                <label for="andar">COMPLEMENTO:</label>
                <input type="text" id="complemento" name="complemento" value="Ao lado da sala de inglês" required>
            </form>
    </div>

    <div class="containerTitulo">
        <div class="titulo">
           <h1>RESUMO DO PEDIDO </h1>
        </div>
    </div>

    <div class="produtos">
        <div class="card">
            <h2>Alessa´s Brigadeiro</h2>
            <img src="../static/img/painel/churros.jpg" alt="Produto">
            <h3>Docinho de Churros</h3>
            <p>Sabor Churros</p>
            <p>1X</p>
        </div>
        <div class="card">
            <h2>Alessa´s Brigadeiro</h2>
            <img src="../static/img/painel/tradicional.jpg" alt="Produto">
            <h3>Brigadeiro Tradicional</h3>
            <p>Brigadeiro e granulados.</p>
            <p>1X</p>
        </div>
        <div class="card">
            <h2>Alessa´s Brigadeiro</h2>
            <img src="../static/img/painel/oreo.jpg" alt="Produto"> 
            <h3>Docinho de Oreo</h3>
            <p>Sabor Oreo</p>
            <p>1X</p>
            
        </div>
    </div>

    <div class="botao-container">
        <a href="./carrinho.html" class="continuar-btn">VOLTAR</a>
        <a href="./pagamento.html"class="finalizar-btn">FINALIZAR PEDIDO</a>
    </div>

    <footer>
        <img src="../static/img/logoBranca.png" alt="">
        <h3>Compartilhe algo delicioso</h3>
        <ul>
            <li><i class="fa-brands fa-instagram fa-2x"></i></li>
            <li><i class="fa-brands fa-twitter fa-2x"></i></li>
            <li><i class="fa-brands fa-facebook fa-2x"></i></li>
        </ul>
        <p>Imagens meramente ilustrativas. Consulte os restaurantes participantes.  & © 2025 IFBite Equipe. Todos os direitos reservados. </p>
    </footer>
</body>
</html>

