<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/static/home.css">     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
  
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="img/Logo.png" alt="logo">
            </div>

            <div class="actions">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
    
            <div class="login">
                <button type="button">entrar</button>
            </div>
        </div>
    </header>

    <main>
        <div class="imagem">
            <img src="img/Banner - Hamburguer.jpg" alt="">
        </div>

        <!--<div class="carrosel">
            <button class="prev" onclick="moveSlide(-1)"> &#10094</button>

           <div>
                <img src="img/Banner - Hamburguer.jpg" alt="">
                <img src="img/Post Instagram Dia da Pizza Entrega Grátis.png" alt="">
                <img src="img/Post para Instagram bolo de pote promoção chocolate doces.png" alt="">
            </div>

            <div class="controls">
                <label for="slide1">&#10094;</label>
                <label for="slide2">&#10095;</label>
            </div>

            <input type="radio" name="carrosel" id="slide1" checked>
            <input type="radio" name="carrosel" id="slide2">
            <input type="radio" name="carrosel" id="slide3">
            <button class="next" onclick="moveSlide(1)"> &#10095</button>
        </div>--> 
  
    </main>

    <footer>
        
    </footer>
</body>
</html>