<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/home.css">
    
    
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="img/logoTeste.avif" alt="">
        </div>

        <div class="actions">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <div class="login">
            <button type="button">entrar</button>
        </div>
   
    </header>

    <div class="imagem">
    </div>

    <div class="carrosel">
        <button class="prev" onclick="moveSlide(-1)"> &#10094</button>
        <div></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>