<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/static/home.css">     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
  
    <title>HOME</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="img/Logo.png" alt="logo">
            </div>

            <div class="actions">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
    
            <div class="login">
                <button type="button">entrar</button>
            </div>
        </div>
    </header>

    <section class="logo-section">
        <div class="logo-container">
            <img src="img/home/logo2.png" alt="logo branca">
        </div>
        <div class="onda">
            <img src="img/home/onda.png" alt="onda">
        </div>
    </section>

    <h2>Destaques</h2>

    <section>
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-item">
                    <img src="img/home/vermelho.png" alt="">
                </div>
                <div class="carousel-item">
                    <img src="img/home/verde.png" alt="">
                </div>
                <div class="carousel-item">
                    <img src="img/home/vermelho.png" alt="">
                </div>
            </div>
        </div>
    </section>    
    
   <h2>Categorias</h2>

    <section class="cards-container">
        <div class="card">
            <img src="img/home/hamburgueres.png" alt="">
            <h3>hambúrgueres</h3>
        </div>
        <div class="card">
            <img src="img/home/doces.png" alt="">
            <h3>Doces</h3>
        </div>
        <div class="card">
            <img src="img/home/bebidas.png" alt="">
            <h3>Bebidas</h3>
        </div>
    </section>
    

    <footer>
        <img src="/templates/img/ifbite-removebg-preview.png" alt="">
        <h3>Compartilhe algo delicioso</h3>
        <ul>
            <li><i class="fa-brands fa-square-instagram fa-2x"></i></li>
            <li><i class="fa-brands fa-square-twitter fa-2x"></i></li>
            <li><i class="fa-brands fa-square-facebook fa-2x"></i></li>
        </ul>
        <p>Imagens meramente ilustrativas. Consulte os restaurantes participantes.  & © 2025 IFBite Equipe. Todos os direitos reservados. </p>
    </footer>
</body>
</html>