<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="icon"  href="/templates/img/Logo.png">
    <title>{IF}Bite</title>
</head>
<body>
    <section class="principal">
        <section class="metade-esquerda">
            <img src="../static/img/logoBranca.png" alt="Logo" class="img1">
        </section>
        <section class="forms">
            <section class="form">
                <h1>Comida rápida para a sua rotina de federal em um só clique!</h1>
                <p>Informe o seus dados para continuar:</p>
                <!-- Formulário de Login -->
                <form action="/login" method="post">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" autofocus required>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" required>
                    <button type="submit">Entrar</button>
                </form>
                <!-- Mensagem de erro (será exibida apenas se o login falhar) -->
                <p id="erro" style="color: red; display: none;">Usuário não cadastrado. Clique <a href="/cadastro">aqui</a> para se cadastrar.</p>
                <!-- Link para a página de cadastro -->
                <p>Não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
            </section>
        </section>
    </section>
</body>
</html>