<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/static/carrinho.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon"  href="/templates/img/Logo.png">
    

    <title>Pagamento</title>
</head>
<body>
    <header> 
        <a href="./home.html" class="fa-solid fa-house home-icon"></a>
        <img src="./img/logoBranca.png" alt="Logo" class="logo">
    </header>
    <div class="containerTitulo">
        <div class="titulo">
           <h1>PAGAMENTO</h1>
        </div>
     
        <div class="linhaProgresso">
           <ul class="progress-bar-bolinhas">
              <li class="bolinha textProgresso">1</li>
              <li class="bolinha completo textProgresso">2</li>
              <li class="bolinha textProgresso">3</li>
              <li class="bolinha textProgresso">4</li>
           </ul>
        </div>
    </div>
</body>
</html>